@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 80px;
}

#head1 {
    color: rgb(65, 235, 65);
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
#para {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

#para1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    text-size-adjust: 80%;
}
#img1{
    border: 2px solid black;
    border-radius: 20px;
    width: 30%;
    height: 30%;
}